/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

p, h1, h2, h3{
  margin: 0;
}

.btn-basic{
  color: #fff!important;
  font-size: 13px;
  width: 100px;
  background: #0074bf;
  height: 34px!important;
  border: none;
  &:hover{
    background: #fff;
    color: #0074bf!important;
    border: 1px solid #0074bf;
  }
}

header{
  float: left;
  width: 220px;
  height: 100%;
  position: relative;
  .header-background{
    position: fixed;
    width: 220px;
    height: 100%;
    background: #0074bf;
    .header-title{
      position: fixed;
      top: 50px;
      left: 20px;
      padding: 10px;
      border: 1px solid #fff;
      a{
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .header-category{
      position: fixed;
      top: 110px;
      left: 20px;
      width: 180px;
      ul{
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          font-size: 17px;
          margin: 15px 0;
          a{
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            &:hover{
              color: #fff53f;
            }
          }
        }
      }
    }
  }
}

.top{
  min-width: 1000px;
  max-width: 1702px;
  margin-left: 220px;
}